*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
}

body {
	background-image: linear-gradient(to top left, rgba(128,128,128, 0.75), rgba(224,255,255,0.25)),  url("../images/bg.jpg");
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-size: cover;

}
h1{
	text-align: center;
	color: white;
}

.navColor{
	color: white;
	background-color: #B6493B;
}

.navColor a{
	color: white;
}

.register-form {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba( 0,0,0, 0.3);
	padding: 35px;
	box-sizing: content-box;
	border-radius: 7%;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);

}


.register-form .input-box {
	position: relative;

}

.register-form .input-box input{
	border: none;
	border-bottom: 1px solid white;
	background-color: rgba( 0,0,0, 0);
	outline: none;
	box-shadow: none;
	color: white;
	border-radius: 0;


	
}

.register-form .input-box label{
	position: absolute;
	top: 0;
	left: 0;
	/*font-size: 16px;*/
	margin-left: 4px;
	padding: 7px;
	transition: 0.5s;
	color: white;

}

.register-form .input-box input:focus ~ label,
.register-form .input-box input:valid ~ label{
	top: -27px;
	left: 0;
	font-size: 14px;
	color: #007bff;
	font-style: bolder;
}

.register-form .input-box input:focus{
	border-bottom: 2px solid #007bff;
}
.register-form select:focus{
	background-color: rgba( 0,0,0, 0.075);
}
