*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
}
p{
	font-family: 'Overpass Mono', monospace;
}

.login-form {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba( 0,0,0, 0.3);
	padding: 35px;
	box-sizing: content-box;
	border-radius: 7%;
	box-shadow: 0 7px 14px rgba(34, 59, 104, 0.3);
	color: #f4f4f4;


}

.login-form select{
	background-color: rgba( 0,0,0, 0.075);
	color: #f4f4f4;

}


.login-form .input-box {
	position: relative;
}

.login-form .input-box input{
	border: none;
	border-bottom: 1px solid #fff;
	background-color: rgba( 0,0,0, 0);
	outline: none;
	box-shadow: none;
	color: white;
	border-radius: 0;

	
}

.login-form .input-box label{
	position: absolute;
	top: 0;
	left: 0;
	/*font-size: 16px;*/
	margin-left: 4px;
	padding: 7px;
	transition: 0.5s;
	color: #f4f4f4;
}

.login-form .input-box input:focus ~ label,
.login-form .input-box input:valid ~ label{
	top: -27px;
	left: 0;
	font-size: 14px;
	color: #007bff;
	font-style: bolder;

}

.login-form .input-box input:focus{
	border-bottom: 2px solid #007bff;
}
.login-form select:focus{
	background-color: rgba( 0,0,0, 0.075);
}

.login-form a{
	display: block;
}

.products{
	/*height: 500px;*/
	/*max-height: 500px;*/
	background-color: rgb(205,205,205,0.5);
	/*color: #f4f4f4;*/
	/*overflow-y: scroll;*/
}

.bodybody{
	/*overflow-y: scroll;*/
}

#imgimg{
	height: 350px;
	/*width: auto;*/
	/*overflow: hidden;*/
}

/*.galleryBG{
	background-image: url(../images/halloween2.jpg);
	background-size: cover;
}*/

.btnCenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

